<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue Note</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Cookie" rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="style.css">

    <script src="script.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="layout">
          <div class="flex xs8 offset-xs2">
            <v-card style="background-color:teal; margin:0 auto; padding:10px; font-family:  'Archivo Black', sans-serif;">
              <v-form v-model="valid">
                <v-text-field
                  v-model="note.title"
                  label="Title"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="note.content"
                  label="Content"
                  multi-line
                  required
                ></v-text-field>
                <v-btn @click="addNote" fab large color="teal">
                  <v-icon color="white">add</v-icon>
                </v-btn>
              </v-form>
            </v-card>
          </div>
        </div>
      </div>
      <v-divider></v-divider>
      <div class="contaier">
        <div class = "layout">
          <div class = "flex xs4">
            <div class="card note_card">
              <span class="title"><h4>{{title}}</h4></span>
              <v-divider></v-divider>
              <span class="content"><p>{{content}}</p></span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="add_note_div">
        <v-btn fab large color="teal">
          <v-icon color="white">add</v-icon>
        </v-btn>
     </div> -->
   </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    <script>
      var app = new Vue({
        el:"#app",
        data:{
          title: "Initial Note",
          content: "This is the initial post",
          note:{
            title: '',
            content: ''
          },
          notes : [
            {
              title: "fixed title",
              content: "fixed content"
            }
          ]
        },
        methods:{
          addNote(){
            let {content, title} = this.note
            this.notes.push(
              {
                content, title
              }
            )
          }
        }
      })
    </script>

  </body>
</html>
