body{
  background-color: #071013;
  color:#aaaaaa;
}
.note_card{
  background-color: #eb5160;
  padding: 20px;
  color:#dfe0e2;
}
.add_note_div{
  position: fixed;
  top:10px;
  right:10px;
}
.add_button{
  background-color: #4392f1;

}
.title{
  font-family: 'Archivo Black', sans-serif;
  color:#262626;
  background-color:#dfe0e2;
  font-size:60px;
}
.content{
  font-family: 'Cookie', cursive;
  font-size:40px;
  padding-top:20px;
  padding-bottom:20px;
}
