body{
  background-color: #071013;
  color:#aaaaaa;
}
.note_card{
  background-color: #eb5160;
  padding: 20px;
  color:#dfe0e2;
}
.add_note_div{
  position: fixed;
  top:10px;
  right:10px;
}
.add_button{
  background-color: #4392f1;

}
